
h2 {
    text-align: center;
    color: rgb(36, 137, 204);
}
.img {
    text-align: center;
    margin: 4rem;
}


@media only screen and (max-width: 950px) {
    .tables {
        display: grid;
        place-items: stretch;
        padding: 20px;
        gap: 10px;
        grid-template-columns: 100%;
    }
}
@media only screen and (min-width: 951px){
    .tables {
        display: grid;
        place-items: stretch;
        padding: 20px;
        gap: 10px;
        grid-template-columns: 50% 50%;
    }
}
.tables{
    border: 1px solid black;
}
.table1 {
    padding: 30px;
    background-color: rgba(255, 240, 33, 0.856);
    border: 1px solid black;
}

.table2 {
    padding: 30px;
    background-color: rgba(255, 240, 33, 0.856);
    border: 1px solid black;
}
.button {
    color: white;
    background-color: rgb(41, 159, 255);
}
#formulae {
    text-align: center;
}
#from {
    padding: 3px;
}
#to {
    padding: 3px;
}
#valor {
    padding: 3px;
}
.button {
    padding: 10px;
    font-weight: bold;
}
#result {
    padding: 3px;
}



.row{
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
}
.row1 {
   border: 1px solid black;
}
.row1:hover {
    color: rgb(41, 159, 255);;
}
.sep {
    text-align: center;
}
