info::before {
    content: 'Report: ' attr(id);
    text-align: right;
}
info {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-right: 10px;
}
info > name {
        font-size: xx-large;
        color: blue;
}
info > phone::before {
    contain: "Phone: ";
    font-weight: bold;
}


records {
    display: table;
    margin: 10px;
    width: 98%;
}

record {
    display: table-row;
}

record *,header *{
    display: table-cell;
    border: 1px solid black;
    padding: 3px;
}

header {
    display: table-header-group;
    text-align: center;
}

header:first-child {
    background-color: yellow;
}
record:nth-child(even) {
    background-color: aqua;
}
record:nth-child(10n) {
    background-color: rgb(0, 172, 172);
}
record:hover {
    background-color: aquamarine;
}