h2 {
    text-align: center;
}

thead tr td {
    background-color: rgb(5, 83, 252);
    text-align: center;
    padding: 10px;
    font-weight: bold;
    
}
table tr {
    border: 1px solid black;
    border-collapse: collapse ; 
}
table {
    margin: 0 auto;
    border: 1px solid black;
    border-collapse: collapse ;
}

table tr td:last-child {
    border: 1px solid black;
    border-collapse: collapse ;
}




p{
    text-align: center;
}