ul.none {
    list-style-type: none;
}

h1 {
    text-align: center;
}

fieldset.Dades {
    background-color: rgb(182, 255, 255);
}
fieldset.Acces {
    background-color: rgb(154, 198, 255);
}
fieldset.doc {
    background-color: rgb(83, 117, 158);
}

legend.rectangle {
    padding: 10px 10px 0px 10px;
    width: 14%;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    
}
