h1{
    text-align: center;
}
table tr th {
    background-color: rgb(90, 90, 255);
    padding: 10px;
}
tr:nth-child(odd){
    background-color: rgb(206, 206, 206);
}
table {
   
    border-collapse: collapse;
    border-spacing: 10px;
    text-align: center;
    box-shadow: 5px 10px 10PX  grey ;
    margin: 0 auto;
}


img {
    width: 90px;
    margin: 10px;
}