h4 {
    text-align: center;
}

.custom table{
    margin: 0 auto;
    box-shadow: 10px 5px 20px grey;
    border-collapse: collapse;
    width: 25%;
}
.custom table tr {
    text-align: center;
}
.custom table tr th {
    padding: 13px;
    width: 35%;
}
.custom thead td {
    background-color: rgb(13, 146, 255);
    color: white;
    padding: 10px;
    text-align: center;
}

.custom tbody th {
    background-color: rgb(170, 170, 170);
    width: 40%;
}
.custom tbody tr:nth-child(even) {
    background-color: rgb(223, 223, 223);
}
.custom tbody td:hover{
    background-color: rgb(72, 203, 255);
}




.order table{
    margin: 0 auto;
    box-shadow: 10px 5px 20px grey;
    border-collapse: collapse;
    width: 50%;
    margin-top: 5rem;
}
.order table tr th {
    padding: 5px;
}
.order thead td {
    background-color: rgb(13, 146, 255);
    padding: 12px;
    text-align: center;
    font-weight: bold;
}