h1 {
    text-align: center;
    padding: 5px;
    background-color: rgb(0, 26, 255);
    color: white;
}


.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px; 
}


div.block1 {
    margin: 5px;
    box-shadow: 5px 5px 5PX  grey ;
    background-color: aliceblue;
}

h3.block1 {
    background-color: rgb(0, 26, 255) ;
    color: white;
    padding: 3px;
}
p.block1 {
    margin: 5px;
}

table.rules {
    text-align: center;
    margin: auto;
}
th {
    background-color: rgb(0, 26, 255) ;
    color: white;
}
tr:nth-child(odd) {
    background-color: rgb(127, 214, 255);
}
tr:nth-child(even){
    background-color: rgb(236, 236, 236);
}
td {
    padding: 5px;
}



div.block2 {
    margin: 10px;
    box-shadow: 5px 5px 5PX  grey ;
    background-color: aliceblue;
    width: auto;
}
article {
    margin: 15px;
}


div.game{
    background-color: bisque;
    text-align: center;
    margin: auto;
}
.option:hover {
    cursor: pointer;
}

table.play {
    text-align: center;
    margin: auto;
}
#play {
    text-align: center;
    margin: auto;
    width: 90%;
}




