<?xml version="1.0" encoding="ISO-8859-1" ?>
<rss version="2.0">
    <title>W3Schools Home Page</title> 
    <link>http://www.w3schools.com</link> 
    <description>Free web building tutorials</description> 
    <pubDate>2011-08-13</pubDate>
    <item>
        <title>WSE</title>
        <link>https://europe.worldskate.org/</link> 
        <description>Noia vs Monza</description> 
    </item>
</rss>