h1 {
    text-align: center;
}
ul {
    list-style-type: none;
}

.view {
    background-color: rgb(255, 212, 212);
    margin: 25px;
}

.personal {
    padding: 10px 10px 0px 10px;
    width: 12%;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}
.address, .contact{
    padding: 10px 10px 0px 10px;
    width: 7%;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}
.view:hover {
    transition: all 1s;
    background-color: rgb(250, 135, 135); ;
}

.Register:hover {
    transform: rotate(360deg);
}

input:hover{
    transition: all 1s;
    border-color: rgb(4, 0, 255);
}

.mail:hover {
    transition: 1s ease;
    width: 400px;
}