@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

 table {
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 10px;
    box-shadow: 5px 10px 10PX  grey ;
    margin: 0 auto;
    margin-top: 5rem;
    width: 60%;
}
th {
    text-align: center;
    background-color: rgb(1, 0, 70);
    color: white;
}
td {
    text-align: center;
}
tr:nth-child(even) {
    background-color: rgb(225, 239, 252);
}
tr:hover{
    background-color: rgb(146, 151, 156);
}

img {
    padding: 10%;
    width: 80px;
}