@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap');
  
h1.title {
    font-family: 'Playpen Sans', cursive;
}

th {
    font-family: 'Tilt Neon', sans-serif;
    color: blue;
    background-color: rgb(5, 126, 196);
}
td.info {
    font-family: 'Tilt Neon', sans-serif;
    color: blue;
}
td {
    font-family: 'JetBrains Mono', monospace;   
    text-align: center;
}

table {
    width: 90%;
    border-collapse: collapse;
    border: 2px solid black;
}
table, th, td {
    border: 2px solid black;
}
tr:nth-child(odd) {
    background-color: rgb(146, 233, 255);
}

tr:hover {
    background-color: rgb(33, 100, 177);
}