@media only screen and (max-width: 600px){
    #poke-container {
        display: grid;
        place-items: center;
        padding: 10px;
        gap: 10px 10px;
        grid-template-columns: 100%;  
    }
}
@media only screen and (min-width: 601px){
    #poke-container {
        display: grid;
        place-items: center;
        padding: 10px;
        gap: 10px 10px;
        grid-template-columns: 50% 50%;  
    }
}
@media only screen and (min-width: 800px){
    
    #poke-container {
        display: grid;
        place-items: center;
        padding: 10px;
        gap: 10px 10px;
        grid-template-columns: auto auto auto auto;  
    }
}

h2 {
    margin-top: 1rem;
    padding: 10px;
    overflow: hidden;
    text-align: center;
    color: white;
    background-color: rgb(0, 0, 0);
}
h4 {
    text-transform: capitalize;
    font-style: italic;
}
#pokeNumber::before{
    content: "Code: ";
    font-weight: bold;
    font-size: small;
}
#pokeNumber {
    font-size: small;
}
#pokeHeight::before {
    content: "Height: ";
    font-size: small;
    font-weight: bold;
}
#pokeHeight::after {
    content: " m";
    font-size: small;
}
#pokeHeight {
    font-size: small;
}
#pokeWeight::before {
    content: "Weight: ";
    font-size: small;
    font-weight: bold;
}
#pokeWeight::after {
    content: " kg";
    font-size: small;
}
#pokeWeight {
    font-size: small;
}
ul::before {
    content: "Type: ";
    font-size: small;
    font-weight: bold;
}
ul {
    list-style-type: none ;
    margin-left: -2.5rem;
}
li {
    display: inline;
    font-size: small;
}
li::after {
    content: ", ";
}
li:last-child::after {
    content: " ";
}
#pokeWeight {
    text-align: right;
    margin-top: -2em;
}
#pokeImage {
    padding: 20px;
    background-color: #e0df7c;
    border-radius: 8px;
    margin: 10px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}



#pokemon{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(161,164,163,1) 100%);
}
#pokeContent {
    margin: 20px;
}
#pokemon_grass{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgb(127, 180, 105) 0%, rgba(161,164,163,1) 100%);
}
#pokemon_fire{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgb(194, 84, 84) 0%, rgba(161,164,163,1) 100%);
}
#pokemon_water{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgb(84, 163, 194) 0%, rgba(161,164,163,1) 100%);
}
#pokemon_electric{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgb(194, 174, 84) 0%, rgba(161,164,163,1) 100%);
}


