@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

@keyframes myAnimation {
    from {opacity: 0;}
    to {opacity: 1;}
}

@media only screen and (max-width: 650px){
    div.singers{
        display: grid;
        place-items: center;
        padding: 10px;
        gap: 70px 10px;
        grid-template-columns: 100%;
        margin-top: 60px;
        animation: myAnimation 4s ease;
    }
}

@media only screen and (min-width: 651px){
    div.singers{
        display: grid;
        place-items: center;
        padding: 10px;
        gap: 70px 10px;
        grid-template-columns: 50% 50%;
        margin-top: 60px;
        animation: myAnimation 4s ease;
    }
}
@media only screen and (min-width: 1050px){
    div.singers{
        display: grid;
        place-items: center;
        padding: 10px;
        gap: 70px 10px;
        grid-template-columns: auto auto auto;
        margin-top: 60px;
        animation: myAnimation 4s ease;
    }
}

h1 {
    font-family: 'Courgette', cursive;
    text-align: center;

}
ul {
    list-style-type: none;
    text-align: center;
}
li {
    display: inline;
    margin: 20px;
    font-family: 'Courgette', cursive;
    margin: 2rem;
}
li:hover {
  color: rgb(182, 184, 63);
  text-decoration: underline;
}

.singer {  
    position: relative;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    transition-duration: 1s;
    margin-left: 40px;

}
.singer .info {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    text-align: center;
    transition: opacity 0.3s;
    
}
.singer:hover .img {
    transform: scale(1.30);
    
}
.img {
    transition-duration: 1s;
}

.singer:hover .info  {
    animation: myAnimation 1s ease;
}
.singer:hover {
    opacity: 1;
}
.button {
    background-color: rgb(0, 0, 0);
    padding: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
}
/*  
    container = singers
    view      = singer
    imagen    = img
    mask      = info
*/
