@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Tangerine&display=swap');

* {
    display: block;
    text-align: center;
    font-family: 'Lora', serif;
}

breakfast_menu > header > company {
    font-family: 'Tangerine', cursive;
    color: rgb(55, 117, 133);
    font-size: 5rem;
    margin-top: 1.5rem;
}

breakfast_menu > food > name {
    color: rgb(55, 117, 133); 
    font-size: 1.2rem;
}
breakfast_menu > food > calories {
    color: rgb(116, 172, 133);
}

title { 
    margin-top: 1rem;
}
time {
    margin-top: 0.5rem;
}
days {
    margin-top: 0.5rem;
}
breakfast_menu > food {
    margin-top: 2rem;
}
footer {
    margin-top: 1.5rem;
}

calories::before {
    content: "Calories: ";
    }
price::after {
    content: " $";
}
