
@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&family=Lumanosimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rosarivo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rosarivo&family=Satisfy&display=swap');

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: rgb(47, 47, 202);
}
li {
    float: left;
}

h1 {
    font-family: 'Lugrasimo', cursive;
    color: rgb(47, 47, 202);
}

h2 {
    font-family: 'Rosarivo';
    color: rgb(47, 47, 202);
}

h3 {
    font-family: 'Satisfy', cursive;
    color: rgb(47, 47, 202);
}

img {
    float: left;
}

table {
    width: 40%;
    border-collapse: collapse;
    border:2px solid black;
}
table, th, td {
    border: 2px solid black;
    padding: 12px;
}
th {
    text-align: center;
    background-color: rgb(197, 197, 197);
}

tr:nth-child(odd) {
    background-color: rgb(47, 47, 202);
}
tfoot > tr:first-child {
    background-color: rgb(197, 197, 197);
}
tr:hover {
    background-color: #eee;
}

div.rectangle {
    padding: 20px 20px 0px 20px;
    width: 80%;
    background-color: orange;
}
a:active{
    color: black
}